@import '../../styles.scss';
.headerBar{
	width: 100%;
	padding: .5em;
	background-color: $primary;
	@include VerticleDropShadow;
	.brandWrapper{
		display: inline-block;
		height: 40px;
		padding: 5px 0;
		
		.brand{
			width: 50px;
			height: auto;
		}; //brand
		.brandTitle{
			vertical-align: top;
			display: block;
			font: $brand;
			display: inline-block;
			color: $white;
		}; //h1
	} // brandwrapper
}; //md-toolbar
