@import '../../styles.scss';
md-toolbar{
	background-color: $primary;
	@include VerticleDropShadow;
	.brandWrapper{
		background-color: $accent;
		.brand{
			max-width: 3em;
		}; //brand
		h1{
			display: inline-block;
			color: $white;
		}; //h1
	} // brandwrapper
	.spacer {
		flex: 1 1 auto;
	}; //spacer
	.donate{
		background-color: $accent;
		border-radius: 10px;
		padding: .3em;
		@include BottomRightDropShadow;
		width: 2em;
		height: 2em;
		@include fade;
	}; //donate
	.donate:hover{
		background-color: darken($accent, 5%);
		cursor: pointer;
		width: 2.2em;
		height: 2.2em;
		@include fade;
	};
}; //md-toolbar
