@import '../../styles.scss';
.headerBar{
	@include span (12 of 12);
	padding: .5em;
	background-color: $primary;
	.brandWrapper{
		@include span( 12 of 12);
		display: inline-block;
		padding: 5px 0;
		.brand{
			height: 40px;
		}; //brand
		.brandTitle{
			vertical-align: top;
			display: block;
			font: $brand;
			display: inline-block;
			color: $white;
		}; //brand title
	} // // brand wrapper
}; //header bar
.sticky{
	position: fixed;
	top: 0px;
	z-index: 1;
	-webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.32);
	-moz-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.32);
	box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.32);
}
