<div class="footerBar">

        <div class="comments">
                <h3>Have comments or suggestions?</h3>
                <a href="mailto:info@Alliemunro.com">
                        <p>Info@Alliemunro.com</p>
                </a>
        </div>
        <div class="donation">
                <p>Find Cryptocheck.io useful? <br>Consider donating to our bitcoin wallet</p>
                <div class="donatebutton" (click)="donatebutton()">{{donate}}</div>
        </div>
        <div class="disclaimer">
                <p>
                        <span>Disclaimer</span>:
                        CryptoCheck.io is based on realtime exchange rates. We do our best to ensure you have the most up to date information but we are human and can make errors. We accept no repsonsiblity for any damages that may occur due to inaccurate information. By using this free to use application you accept all risks.
                </p>
        </div>
</div>
