

@keyframes fade{
	0%{
	opacity: 0;
	}
	100%{
	opacity: 1;
	}
}

@keyframes explanation{
	0%{
		opacity: 0.00;
	} // 0%
	100%{
		opacity: 1;
	} // 100%
} // instructions

@keyframes amountincrease{
	0%{
	}
	50%{
		background-color: $good;
		border-color: $good;
		opacity: 0.5;
	}
	100%{
		background-color: $white;
		border-color: $font;
	}
} //amount icrease

@keyframes amountdecrease{
	0%{
	}
	50%{
		background-color: $bad;
		border-color: $bad;
		opacity: 0.5;
	}
	100%{
		background-color: $white;
		border-color: $font;
	}
} //amount decrease


@keyframes nameincrease{
	0%{
	}
	50%{
		background-color: $good;
		border-color: $good;
		opacity: 0.5;
	}
	100%{
		background-color: $font;
		border-color: $font;
	}
} // name increase


@keyframes namedecrease{
	0%{
	}
	50%{
		background-color: $bad;
		border-color: $bad;
		opacity: 0.5;
	}
	100%{
		background-color: $font;
		border-color: $font;
	}
} // name decrease

@keyframes fadeHalf{
	0%{
	opacity: 0;
	}
	100%{
	opacity: 0.2;
	}
}

@keyframes floatinLeft{
	0% {
		opacity: 0;
		margin-left: -5em;
	}
	100%{
		opacity: 1;
		margin-left: 0em;
	}
}

  @keyframes floatin{
  0% { 
	  opacity: 0;
	  margin-top: 10em; 
	}
  100% { 
	  opacity: 1;
	  margin-top: 0em; 
  };
}

@mixin explanation{
	animation-name: explanation;
    animation-duration:1s;
}

@mixin amountincrease{
	animation-name: amountincrease;
    animation-duration:1s;
}

@mixin nameincrease{
	animation-name: nameincrease;
    animation-duration:1s;
}

@mixin amountdecrease{
	animation-name: amountdecrease;
    animation-duration:1s;
}

@mixin namedecrease{
	animation-name: namedecrease;
    animation-duration:1s;
}

@mixin floatin{
	animation-name: floatin;
    animation-duration:1s;
	animation-fill-mode:forwards;
}
@mixin fade($delay){
	animation-name: fade;
    animation-duration:1s;
	animation-delay: $delay;
	animation-fill-mode:forwards;

}

@mixin fadeHalf($delay){
	animation-name: fadeHalf;
    animation-duration: 1s;
	animation-delay: $delay;
	animation-fill-mode: forwards;
}

@mixin floatinLeft($delay){
	animation-name: floatinLeft;
    animation-duration: .75s;
	animation-delay: $delay;
	animation-fill-mode: forwards;
}

@mixin transition($time){
	transition-duration: $time;
	-webkit-transtion: $time;
}