

@keyframes fade{
	0%{
	opacity: 0;
	}
	100%{
	opacity: 1;
	}
}
@keyframes fadeHalf{
	0%{
	opacity: 0;
	}
	100%{
	opacity: 0.2;
	}
}

@keyframes floatinLeft{
	0% {
		opacity: 0;
		margin-left: -5em;
	}
	100%{
		opacity: 1;
		margin-left: 0em;
	}
}

  @keyframes floatin{
  0% { 
	  opacity: 0;
	  margin-top: 10em; 
	}
  100% { 
	  opacity: 1;
	  margin-top: 0em; 
  };
}

@mixin floatin{
	animation-name: floatin;
    animation-duration:1s;
	animation-fill-mode:forwards;
}
@mixin fade($delay){
	animation-name: fade;
    animation-duration:1s;
	animation-delay: $delay;
	animation-fill-mode:forwards;

}

@mixin fadeHalf($delay){
	animation-name: fadeHalf;
    animation-duration: 1s;
	animation-delay: $delay;
	animation-fill-mode: forwards;
}

@mixin floatinLeft($delay){
	animation-name: floatinLeft;
    animation-duration: .75s;
	animation-delay: $delay;
	animation-fill-mode: forwards;
}

@mixin transition($time){
	transition-duration: $time;
	-webkit-transtion: $time;
}