@mixin clearfix {
	&:before,
	&:after{
		content : '';
		display : table;
	}
	&:after{
		clear: both;
	}
}

@mixin VerticleDropShadow{
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
};

@mixin BottomRightDropShadow{
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
};