@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

$primary: #FFC107;
$white: #ffffff;
$gray: #ebebeb;
$accent: #A9A9A9;
$font: #2e2e2e;
$good: #34993C;
$bad: #993A2F;

$small:		0px;
$phone: 	445px;
$tablet: 	600px;
$desktop: 	850px;
$wide: 		1100px;

$susy:(
	columns: 12,
	container: 80em,
	gutters: 1/4,
	gutter-position: inside,
);

$fontFamily:  'Roboto', 'Open Sans', Helvetica, Arial, 'sans-serif';


$normal	: 400;
$heavy	: 500;

$brand: $heavy 2em $fontFamily;
$h1: $heavy 2em $fontFamily;
$h2: $normal 1.25em $fontFamily;
$h3: $normal 1em $fontFamily;
$paragraph: $normal 1em $fontFamily;
$footer: $normal .75em $fontFamily;
