@import '../../styles.scss';
.results{
	@include container;
	.whatyouhave{
		@include clearfix;
		display: block;
		vertical-align: middle;
		img{
			padding-top: 1em;
			display: inline-block;
			width: 32px;
		}; // img
		h2{
			display: inline-block;
			font: $paragraph;
		}; //h2
	}; // results
	.ticker{
		margin-top: 1em;
		display: block;
		width: 100%;
		font: $paragraph;
		.currency{
			color: $white;
			padding: 0.5em;
			padding-left: 1em;
			border-style: solid;
			border-width: 2px;
			border-color: $font;
			border-radius: 10px 0px 0px 10px; 
			display: inline-block;
			width: 20%;
			background-color: $font;
		}; //currency
		.value{
			margin-left: -10px;
			border-radius: 0px 10px 10px 0px; 
			display: inline-block;
			padding: 0.5em;
			width: 60%;
			border-style: solid;
			border-width: 2px;
			border-color: $font;
		}; //value
	}; // ticker
}; // results