@import '../../styles.scss';
//contents styling
.contents{
	@include container;
	margin-left: 1em;
	.instructions{
		margin-top: 1em;
		font: $paragraph;
		p{
			line-height: 1.5em;
			span{
				font-weight: $heavy;
			}	
		}
	}
	.stepOne, .stepTwo, .stepThree{
		display: block;
		margin-bottom: 1em;
		h1{
			display: inline-block;
			font: $h1;
		}; //h1
		h2{
			display: inline-block;
			font: $h2;
		}; // h2
	}; // stepone, step two, step three
	.stepOne{
		opacity: 0;
		@include fade(.25s);
		.selectionWrapper{
			display: block;
			margin-left: -1em;
			
		};
		.cryptoCurrency, .regularCurrency{		
			@include BottomRightDropShadow;
			margin-right: 1em;
			margin-left: 1em;
			margin-top: 1em;
			display: inline-block;
			border-radius: 10px;
			overflow: hidden;
			background-color: $accent;
			width: 182px;
			height: 113px;
			border-style: solid;
	    	border-width: 2px;
	    	border-color: rgba(0, 0, 0, 0);
			text-align: center;
			
			cursor: pointer;
		}; // cryptocurrency
		.cryptoCurrency:hover, .regularCurrency:hover{
	    	border-color: $font;

		}; // hover states
		.active{
			background-color: $primary;
			img{
			};
		}; // active states
		img{
			vertical-align: middle;
			margin-top: 15%;
			max-width: 30%;
		}; // img
		h3{	
			font: $h3;
			margin-top: .25em;
		}; //h3
	}; //stepone

	//initialize status of step 2 and three
	.stepTwo, .stepThree{
		opacity: 0;
	};
	//animate
	.stepTwo{
		@include fadeHalf(0.5s);

	};
	.stepThree{
		@include fadeHalf(0.75s);
	};

	.stepTwo, .stepThree{
		.stepTwoDropdown, .stepThreeInput{
			margin-top: 1em;
			font: $paragraph;
			display: block;
			width: 410px;
			height: 41px;
			border-style: solid;
			border-radius: 10px;
			border-width: 2px;
			border-color: $font;
		}; // step Two
		.stepThreeInput{
			width: 400px;
			padding-left: 10px;
		}
	}; // step twp dropdown
	.Active{
		@include fade(0s);
		opacity: 1;
	}; // step Inactive
}; // contents
.sticky{
	margin-top: 90px; 
	
};
@import '../../styles.scss';
	.results{
		@include floatin;
		width: 100%;
		margin-left: 1em;
		display: inline-block;
		.whatyouhave{
			@include clearfix;
			display: block;
			.pinningInstructions{
				margin-top: 1em;
				font: $paragraph;
				text-align: left;
				border-radius: 5px;
				color: $white;
				background-color: $font;
				padding: .5em;
				max-width: 200px;
				i{
					float: left;
					margin-left: 1em;
				};
				span{
					margin-left: .5em;
				}; // span
			}; // pinning Instructions
			.pinningInstructions:hover{
				background-color: $primary;
				@include BottomRightDropShadow;
				@include transition(.5s); 
				cursor: pointer;
			} // pinning instructions hover
			
			.explanation{
				@include span (6 of 6);
				font: $paragraph;
				width: 800px;
				margin-top: 0px;
				padding: 1em;
				margin-top: .5em;
				border-style: solid;
				border-width: 2px;
				border-color: $font;
				border-radius: 5px;
				@include explanation;
				span{
					font-weight: $heavy;
				};
				.iconwrapper{
					@include clearfix;
					font-size: 3em;
					@include span(1 of 6);
				};
				.explanatiowrapper{
					@include span (5 of 6);
				}
				
			}; // explanation
		}; // what you have
		.ticker{
			margin-top: 1em;
			display: inline-block;
			vertical-align: top;
			width: 100%;
			font: $paragraph;
			.pin{
				display: inline-block;
				i:hover{
					color: $primary;
					cursor: pointer;
				}
				.selectedCoin{
					color: $primary;
					
				}
				.selectedCoin:hover{
					cursor: default;
				};
			}
			.name{
				color: $white;
				height: 1em;
				padding: 0.5em;
				padding-left: 1em;
				border-style: solid;
				border-width: 2px;
				border-color: $font;
				border-radius: 0px 10px 10px 0px; 
				display: inline-block;
				width: 100px;
				background-color: $font;
				margin-left: -5px;
			}; //currency
			.namepinned{
				background-color: $primary;
				border-color: $primary;
				font-weight: $heavy;
				@include BottomRightDropShadow;
				@include transition(.5s);
			};
			.nameincrease{
				@include nameincrease;
			};
			.namedecrease{
				@include namedecrease;
			};
			.amount{
				text-align: right;
				height: 1em;
				border-radius: 10px 0px 0px 10px; 
				display: inline-block;
				padding: 0.5em;
				padding-right: 1.5em;
				width: 280px;
				border-style: solid;
				border-width: 2px;
				border-color: $font;
			}; //amount
			.amountpinned{
				border-color: $primary;
				font-weight: $heavy;
				@include BottomRightDropShadow;
				@include transition(.5s);
			};
			.amountincrease{
				@include amountincrease;
			};
			.amountdecrease{
				@include amountdecrease;
			};
		}; // ticker
	}; // results