@import '../../styles.scss';
//contents styling
.contents{
	@include container;
	margin-left: 1em;
	.instructions{
		@include floatinLeft(0s);
		margin-top: 1em;
		color: $font;
		font: $paragraph;
		h2{
			margin: .5em 0em;
		};
	}; // instructions
	.stepOne, .stepTwo, .stepThree{
		display: block;
		margin-bottom: 1em;
		h1{
			display: inline-block;
			font: $h1;
		}; //h1
		h2{
			display: inline-block;
			font: $h2;
		}; // h2
	}; // stepone, step two, step three
	.stepOne{
		opacity: 0;
		@include fade(.25s);
		.selectionWrapper{
			display: block;
			margin-left: -1em;
			
		};
		.cryptoCurrency, .regularCurrency{		
			@include BottomRightDropShadow;
			margin-right: 1em;
			margin-left: 1em;
			margin-top: 1em;
			display: inline-block;
			border-radius: 10px;
			overflow: hidden;
			background-color: $accent;
			width: 182px;
			height: 113px;
			border-style: solid;
	    	border-width: 2px;
	    	border-color: rgba(0, 0, 0, 0);
			text-align: center;
			
			cursor: pointer;
		}; // cryptocurrency
		.cryptoCurrency:hover, .regularCurrency:hover{
	    	border-color: $font;

		}; // hover states
		.active{
			background-color: $primary;
			img{
			};
		}; // active states
		img{
			vertical-align: middle;
			margin-top: 15%;
			max-width: 30%;
		}; // img
		h3{	
			font: $h3;
			margin-top: .25em;
		}; //h3
	}; //stepone

	//initialize status of step 2 and three
	.stepTwo, .stepThree{
		opacity: 0;
	};
	//animate
	.stepTwo{
		@include fadeHalf(0.5s);

	};
	.stepThree{
		@include fadeHalf(0.75s);
	};

	.stepTwo, .stepThree{
		.stepTwoDropdown, .stepThreeInput{
			margin-top: 1em;
			font: $paragraph;
			display: block;
			width: 410px;
			height: 41px;
			border-style: solid;
			border-radius: 10px;
			border-width: 2px;
			border-color: $font;
		}; // step Two
		.stepThreeInput{
			width: 400px;
			padding-left: 10px;
		}
	}; // step twp dropdown
	.Active{
		@include fade(0s);
		opacity: 1;
	}; // step Inactive
}; // contents
.sticky{
	margin-top: 90px; 
	
};
@import '../../styles.scss';
	.results{
		@include floatin;
		width: 100%;
		margin-left: 1em;
		display: inline-block;
		.whatyouhave{
			@include clearfix;
			display: block;
			img{
				display: inline-block;
				width: 32px;
				height: 32px;
			}; // img
			h2{
				display: inline-block;
				font: $paragraph;
			}; //h2
		}; // results
		.ticker{
			margin-top: 1em;
			display: inline-block;
			vertical-align: top;
			width: 100%;
			font: $paragraph;
			.pin{
				display: inline-block;
				i:hover{
					color: $primary;
					cursor: pointer;
				}
				.selectedCoin{
					color: $primary;
				}
			}
			.currency{
				color: $white;
				height: 1em;
				padding: 0.5em;
				padding-left: 1em;
				border-style: solid;
				border-width: 2px;
				border-color: $font;
				border-radius: 0px 10px 10px 0px; 
				display: inline-block;
				width: 100px;
				background-color: $font;
				margin-left: -1em;
			}; //currency
			.currencypinned{
				background-color: $primary;
				border-color: $primary;
				@include transition(.5s);
			};
			.value{
				text-align: right;
				height: 1em;
				border-radius: 10px 0px 0px 10px; 
				display: inline-block;
				padding: 0.5em;
				padding-right: 1.5em;
				width: 280px;
				border-style: solid;
				border-width: 2px;
				border-color: $font;
			}; //value
			.valuepinned{
				border-color: $primary;
			};
		}; // ticker
	}; // results