@import '../../styles.scss';
//contents styling
.contents{
	@include container;
	margin-left: 1em;
	.instructions{
		margin-top: 1em;
		font: $paragraph;
		p{
			line-height: 1.5em;
			span{
				font-weight: $heavy;
			} // span
		} // p
	} // instructions
	.stepOne, .stepTwo, .stepThree{
		display: block;
		margin-bottom: 1em;
		h1{
			display: inline-block;
			font: $h1;
		}; //h1
		h2{
			display: inline-block;
			font: $h2;
		}; // h2
	}; // stepone, step two, step three
	.stepOne{
		opacity: 0;
		@include fade(.25s);
		.selectionWrapper{
			display: block;
			margin-left: -1em;
		}; //selection wrapper
		.cryptoCurrency, .regularCurrency{		
			@include BottomRightDropShadow;
			margin-right: 1em;
			margin-left: 1em;
			margin-top: 1em;
			display: inline-block;
			border-radius: 10px;
			overflow: hidden;
			background-color: $accent;
			width: 182px;
			height: 113px;
			border-style: solid;
	    	border-width: 2px;
	    	border-color: rgba(0, 0, 0, 0);
			text-align: center;
			cursor: pointer;
		}; // cryptocurrency
		.cryptoCurrency:hover, .regularCurrency:hover{
	    	border-color: $font;
		}; // hover states
		.active{
			background-color: $primary;
		}; // active states
		img{
			vertical-align: middle;
			margin-top: 15%;
			max-width: 30%;
		}; // img
		h3{	
			font: $h3;
			margin-top: .25em;
		}; //h3
	}; //stepone
	//initialize status of step 2 and three
	.stepTwo, .stepThree{
		opacity: 0;
	}; // step two step three
	//animate
	.stepTwo{
		@include fadeHalf(0.5s);
	}; //step two
	.stepThree{
		@include fadeHalf(0.75s);
	}; // step three
	.stepTwo, .stepThree{
		.stepTwoDropdown, .stepThreeInput{
			margin-top: 1em;
			font: $paragraph;
			display: block;
			width: 410px;
			height: 41px;
			border-style: solid;
			border-radius: 10px;
			border-width: 2px;
			border-color: $font;
		}; // step Two
		.stepThreeInput{
			width: 400px;
			padding-left: 10px;
		} // step three input
	}; // step twp dropdown
	.Active{
		@include fade(0s);
		opacity: 1;
	}; // step active
}; // contents
.sticky{
	margin-top: 125px; 
}; // sticky
@import '../../styles.scss';
	.results{
		@include floatin;
		width: 100%;
		margin-left: 1em;
		display: inline-block;
		.whatyouhave{
			@include clearfix;
			display: block;
			.pinningInstructions{
				margin-top: 1em;
				font: $paragraph;
				text-align: left;
				border-radius: 5px;
				color: $white;
				background-color: $font;
				padding: .5em;
				max-width: 200px;
				i{
					float: left;
					margin-left: 1em;
				}; //i
				span{
					margin-left: .5em;
				}; // span
			}; // pinning Instructions
			.pinningInstructions:hover{
				background-color: $primary;
				@include BottomRightDropShadow;
				@include transition(.5s); 
				cursor: pointer;
			} // pinning instructions hover
			.explanation{
				@include span (6 of 6);
				font: $paragraph;
				width: 800px;
				margin-top: 0px;
				padding: 1em;
				margin-top: .5em;
				border-style: solid;
				border-width: 2px;
				border-color: $font;
				border-radius: 5px;
				@include explanation;
				span{
					font-weight: $heavy;
				}; // span
				.iconwrapper{
					@include clearfix;
					font-size: 3em;
					@include span(1 of 6);
				}; // icon wrapper
				.explanationwrapper{
					@include span (5 of 6);
				} // explanation wrapper
			}; // explanation
		}; // what you have
		.ticker{
			display: inline-block;
			vertical-align: top;
			width: 100%;
			font: $paragraph;
			.wrapper{
				margin-top: 1em;
				.pin{
					display: inline-block;
					i:hover{
						color: $primary;
						cursor: pointer;
					} //i hover
					.selectedCoin{
						color: $primary;
					} // selected coin
					.selectedCoin:hover{
						cursor: default;
					}; // selected coin hover
				} // pin
				.name{
					color: $white;
					height: 1em;
					padding: 0.5em;
					padding-left: 1em;
					border-style: solid;
					border-width: 2px;
					border-color: $font;
					border-radius: 0px 10px 10px 0px; 
					display: inline-block;
					width: 100px;
					background-color: $font;
					margin-left: -5px;
				}; //name
				.namepinned{
					background-color: $primary;
					border-color: $primary;
					font-weight: $heavy;
					@include BottomRightDropShadow;
					@include transition(.5s);
				}; // name pinned
				.nameincrease{
					@include nameincrease;
				}; // name increase
				.namedecrease{
					@include namedecrease;
				}; // name decrease
				.amount{
					text-align: right;
					height: 1em;
					border-radius: 10px 0px 0px 10px; 
					display: inline-block;
					padding: 0.5em;
					padding-right: 1.5em;
					width: 280px;
					border-style: solid;
					border-width: 2px;
					border-color: $font;
				}; //amount
				.amountpinned{
					border-color: $primary;
					font-weight: $heavy;
					@include BottomRightDropShadow;
					@include transition(.5s);
				}; // amout pinned
				.amountincrease{
					@include amountincrease;
				}; // amount increase
				.amountdecrease{
					@include amountdecrease;
				}; // amount decrease
			};// wrapper
		}; // ticker
	}; // results