@import '../../styles.scss';
//contents styling
.contents{
	margin-top: 80px;
	.instructions{
		@include span (12 of 12);
		margin-top: 1em;
		font: $paragraph;
		p{
			line-height: 1.25em;
			span{
				font-weight: $heavy;
			} // span
		} // p
		a{
			text-decoration: none;
			color: $primary;
		};
		a:hover{
			color: $font;
		}
		hr{
			margin-bottom: 0px;
		}; // hr
	} // instructions
	.steps{
		@include span(6 of 12);
		display: inline-block;
		float: left;
		padding-top: .5em;
		border-style: solid;
		p{
			font: $paragraph;
			span{
				font-weight: $heavy;
			};
		};
		.stepOne, .stepTwo, .stepThree{
			display: block;
			margin-top: .5em;
			margin-bottom: 1em;
			span{
				@include breakpoint ( 0 $wide){
					display: none;
				}
			};
			h1{
				display: inline-block;
				font: $h1;
			}; //h1
			h2{
				display: inline-block;
				font: $h2;
				@include breakpoint(0 $wide){
					display: block;

				};
			}; // h2
		}; // stepone, step two, step three
		.stepOne{
			opacity: 0;
			@include fade(.25s);
			.selectionWrapper{
				@include span (12 of 12);
				margin-top: 1em;
				margin-bottom: 1em; 
				display: block;
			}; //selection wrapper
			.regularcurrencywrapper, .crypocurrencywrapper{
				display: inline-block;
				@include span (6 of 12);
				
				.cryptoCurrency, .regularCurrency{		
					@include BottomRightDropShadow;
					width: 90%;
					display: inline-block;
					border-radius: 10px;
					overflow: hidden;
					background-color: $accent;
					height: 113px;
					border-style: solid;
					border-width: 2px;
					border-color: rgba(0, 0, 0, 0);
					text-align: center;
					
					img{
						width: 60%;
						width: 125px;
						height: auto;
						margin-top: 30px;
						
					}; //img
				}; // cryptocurrency
				.cryptoCurrency:hover, .regularCurrency:hover{
					border-color: $font;
				}; // hover states
				.active{
					background-color: $primary;
				}; // active states
			}; //wrappers
		}; //step one
		//initialize status of step 2 and three
		.stepTwo, .stepThree{
			@include span (12 of 12);
			opacity: 0;
		}; // step two step three
		//animate
		.stepTwo{
			@include fadeHalf(0.5s);
		}; //step two
		.stepThree{
			@include fadeHalf(0.75s);
		}; // step three
		.stepTwo, .stepThree{
			.stepTwoDropdown, .stepThreeInput{
				width: 100%;
				margin-top: 1em;
				font: $paragraph;
				display: block;
				height: 41px;
				border-style: solid;
				border-radius: 10px;
				border-width: 2px;
				border-color: $font;
			}; // step Two
			.stepThreeInput{
				width: 97%;
				padding-left: 10px;
			} // step three input
		}; // step twp dropdown
		.Active{
			@include fade(0s);
			opacity: 1;
		}; // step active
		@include breakpoint( 0 $desktop){
			@include span(12 of 12);
		}
	}; //steps
}; // contents
	.results{
		border-color: $font;
		border-style: solid;
		border-width: 0px 0px 0px 1px;
		padding-top: 0.5em;
		@include span (6 of 12);
		display: inline-block;
		float: left;	
		.warning{
			opacity: 0.5;
			p{
			font: $paragraph;
			}; // p
		}; // warning
		.instructions{
			@include span (12 of 12);
			display: block;
			margin-top: 1em;
			p{
				font: $paragraph;
			};
		}; // instructions	
		.search{
			display: block;
			margin-top: 10px;
			@include span (12 of 12);
			padding: 0;
			
			.searchLabel{
				font: $font;
				display: block;
			}; // name search label
			input{
				display: block;
				font: $paragraph;
				display: block;
				height: 41px;
				border-style: solid;
				border-radius: 10px;
				border-width: 2px;
				border-color: $font;
				@include span (12 of 12);
				height: 41px;
			}; // input
			i{
				font-weight: 800;
			}; // span
		}; // name search
		.whatyouhave{
			@include floatin;
			display: none;
			@include clearfix;
			display: block;
			.pinningInstructions{
				margin-top: 1em;
				font: $paragraph;
				text-align: left;
				border-radius: 5px;
				color: $white;
				background-color: $font;
				padding: .5em;
				max-width: 200px;
				i{
					float: left;
					margin-left: 1em;
				}; //i
				span{
					margin-left: .5em;
				}; // span
			}; // pinning Instructions
			.pinningInstructions:hover{
				background-color: $primary;
				@include BottomRightDropShadow;
				@include transition(.5s); 
				cursor: pointer;
			} // pinning instructions hover
			.explanation{
				@include span (6 of 6);
				
				font: $paragraph;
				width: 100%;
				margin-top: 0px;
				padding: 1em;
				margin-top: .5em;
				border-style: solid;
				border-width: 2px;
				border-color: $font;
				border-radius: 5px;
				@include explanation;
				span{
					font-weight: $heavy;
				}; // span
				.iconwrapper{
					@include clearfix;
					font-size: 3em;
					@include span(1 of 6);
				}; // icon wrapper
				.explanationwrapper{
					@include span (5 of 6);
					text-align: left;
				} // explanation wrapper
				.imagewrapper{
					@include span (6 of 6);
					margin-top: 1em;
					text-align: right;
					img{
						border-radius: 10px;
						max-width: 100%;
						@include BottomRightDropShadow;
					};
				};
			}; // explanation
			@include breakpoint (0 $tablet){
				display: none;
			};
		}; // what you have

	
		.ticker{
			display: inline-block;
			vertical-align: top;
			width: 100%;
			font: $paragraph;
			.wrapper{
				margin-top: 1em;
				.pin{
					display: inline-block;
					i:hover{
						color: $primary;
						cursor: pointer;
					} //i hover
					.selectedCoin{
						color: $primary;
					} // selected coin
					.selectedCoin:hover{
						cursor: default;
					}; // selected coin hover
					@include breakpoint ( 0 $tablet){
						display: none;
					};
				} // pin
				.name{
					color: $white;
					height: 1em;
					padding: 0.5em;
					padding-left: 1em;
					border-style: solid;
					border-width: 2px;
					border-color: $font;
					border-radius: 0px 10px 10px 0px; 
					display: inline-block;
					width: 200px;
					background-color: $font;
					margin-left: -5px;
				}; //name
				.namepinned{
					background-color: $primary;
					border-color: $primary;
					font-weight: $heavy;
					@include BottomRightDropShadow;
					@include transition(.5s);
				}; // name pinned
				.nameincrease{
					@include nameincrease;
				}; // name increase
				.namedecrease{
					@include namedecrease;
				}; // name decrease
				.amount{
					text-align: right;
					height: 1em;
					border-radius: 10px 0px 0px 10px; 
					display: inline-block;
					padding: 0.5em;
					padding-right: 1.5em;
					width: 30%;
					border-style: solid;
					border-width: 2px;
					border-color: $font;
					@include breakpoint (0 $phone){
						width: 25%;
					}; // breakpoint
				}; //amount
				.amountpinned{
					border-color: $primary;
					font-weight: $heavy;
					@include BottomRightDropShadow;
					@include transition(.5s);
				}; // amout pinned
				.amountincrease{
					@include amountincrease;
				}; // amount increase
				.amountdecrease{
					@include amountdecrease;
				}; // amount decrease
			};// wrapper
		}; // ticker
	@include breakpoint ( 0 $desktop){
		@include span (12 of 12);
	} // breakpoint 
	@include breakpoint (0 $desktop){
		border-top: 1px;
		border-color: $font;
		border-style: solid;
	} // breakpoint
}; // results