<!--Content -->
<section class="contents" [ngClass]="{sticky: navIsFixed}">
	<!-- Instructions -->
	<div class="instructions">

		<p><span>Welcome to Cryptocheck</span>, 
			<br> 
				This application is <span>a free to use tool </span> for monitoring the current value of your crypocurrency and what your holdings can translate to.
			<br>
				Check the value of your currency, <span>follow these three steps </span>:
		</p>
		<hr>
		<!--><button (click) = "getCurrentTicker('BTC','BBR')">Click Here to get the current time</button><-->
	</div>
	<!-- Step One -->
<form>
	<div class="stepOne">
		<h1>Step 1 - </h1>
		<h2>Choose A Currency Type</h2>
		<div class="selectionWrapper">
			<div class="cryptoCurrency" (click)="cryptoSelected = true; regSelected = false" [ngClass]="{active: cryptoSelected}">
				<img src="../assets/images/cryptocurrency.svg">
				<h3>Cryptocurrency</h3>
			</div>
			<div class="regularCurrency" (click)="regSelected = true; cryptoSelected = false" [ngClass]="{active: regSelected}">
				<img src="../assets/images/regularcurrency.svg">
				<h3>Regular Currency</h3>
			</div>
		</div>
	</div>
	<!-- Step Two -->
	<div class="stepTwo" [ngClass]="{Active: regSelected || cryptoSelected}">
		<h1>Step 2 - </h1>
		<h2>Choose A Currency</h2>
		<!-- placeholder-->
		<select name="cryptocurrency" class="stepTwoDropdown" *ngIf="!cryptoSelected && !regSelected">
			<option value="default">make a selection...</option>
		</select>
		<!-- If Crypto Currency checked in Step 1 -->

		<select name="cryptocurrency" class="stepTwoDropdown" *ngIf="cryptoSelected" [(ngModel)]="step2Selection" >

			<option 
			*ngFor="let step2AOption of step2AOptions" 
			value="{{step2AOption.name}}">
				{{step2AOption.name}}
			</option>
		</select>
		<!-- If Regular Currency selected in Step 1 -->

		<select name="regcurrency" class="stepTwoDropdown" *ngIf="regSelected" [(ngModel)]="step2Selection">

			<option *ngFor="let step2BOption of step2BOptions">{{step2BOption.name}}</option>
		</select>
	</div>
	<!-- Step Three -->
	<div class="stepThree" [ngClass]="{Active: step2Selection}">
		<h1>Step 3 - </h1><h2>Enter Your Holdings</h2>

		<input type="text" name="holdings" class="stepThreeInput" placeholder="enter your holdings..." [(ngModel)]="holdings">

	</div>	
</form>

</section>

<section class="results" *ngIf="holdings">
<hr>
<div class="whatyouhave">
	<h2>You Could Have...</h2>
	<div class="pinningInstructions" (click)="instructions = !instructions; instructionsToggle()">
		<i class="material-icons">gps_not_fixed</i>
		<span>{{ instructionsLabel }}</span>
	</div>
	<div class="explanation" *ngIf="instructions">
		<div class="iconwrapper">
			<i class="material-icons">gps_not_fixed</i>
		</div>
		<div class="explanationwrapper">
			<p>This button will allow you to <span> link </span> the selected currency to your browser title. This will allow you to leave the site will being able to watch the value of your selected at a glance.</p>
		</div>
	</div>
</div>
<h1></h1>
<div class="ticker" *ngFor="let coinresult of coinResults; let oldCoinResults of oldCoinResults; let i = index;">
	<div class="pin" (click)="pinTitle(coinresult.amount, coinresult.name)">
		<i class="material-icons" *ngIf="pinnedCoinAmount != coinresult.amount">gps_not_fixed</i>
		<i class="material-icons selectedCoin" *ngIf="pinnedCoinAmount === coinresult.amount">gps_fixed</i>
	</div>

	<div class="amount" [ngClass]="{amountpinned: pinnedCoinAmount === coinresult.amount, 
									amountincrease: coinresult.amount > oldCoinResults.amount,
									amountdecrease: coinresult.amount < oldCoinResults.amount}">
									{{coinresult.amount}}
	</div>
	<div class="name" [ngClass]="{	namepinned: pinnedCoinAmount === coinresult.amount, 
									nameincrease: coinresult.amount > oldCoinResults.amount,
									namedecrease: coinresult.amount < oldCoinResults.amount}">
									{{coinresult.name}}
	</div>
	

	
</div>
</section>